{% extends "base.html" %} 
{% block title %}
Products - {{category}}
{% endblock %} 

{% block content %}
<h1 class="p-2" style="font-size:1.8rem">{{category}}</h1>
<div class="flex gap-2 container mx-auto py-8">
    <style>
        .card {
            
            margin: 10px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            background: #fff;
            transition: transform 0.2s;
            display: flex;
            flex-direction: column;
            justify-content: space-between; /* Ensures space distribution within card */
            border: 1px solid rgba(128, 128, 128, 0.3);
            box-sizing: border-box;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .card img {
            width: 100%;
            height: 250px; /* Adjusted image height */
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            object-fit: contain; /* Retain original behavior */
        }
        .card-body {
            padding: 15px;
        }
        .card-title {
            font-size: 20px; /* Increased font size */
            font-weight: bold;
            margin-bottom: 10px; /* Increased margin */
            font-family: "Roboto", sans-serif; /* Change to your desired font */
        }
        .card-desc {
            font-size: 16px; /* Increased font size */
            color: #666;
            margin-bottom: 10px; /* Increased margin */
        }
        .card-price {
            font-size: 18px; /* Increased font size */
            font-weight: bold;
            color: #000;
            margin-bottom: 10px; /* Increased margin */
        }
        .add-to-cart {
            padding: 8px 12px; /* Adjust padding */
            background-color: #4299e1; /* Set background color */
            color: #fff; /* Set text color */
            border: none; /* Remove border */
            border-radius: 6px; /* Set border radius */
            text-align: center;
            cursor: pointer;
            transition: background-color 0.3s;
            display: inline-block; /* Added display property */
            text-decoration: none; /* Remove default link underline */
        }
        .add-to-cart:hover {
            background-color: #3182ce; /* Change hover background color */
        }
    </style>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        {% for product in products %}
        <div class="card">
            <a href="{{ url_for('product_bp.view_product_details', id=product.id) }}">
                <img src="{{ product.image_url }}" alt="{{ product.name }}" class="w-full h-auto">
            </a>
            <div class="card-body">
                <a href="{{ url_for('product_bp.view_product_details', id=product.id) }}" class="block text-gray-800 font-semibold card-title">{{ product.name }}</a>
                <p class="text-gray-600 card-desc">{{ product.small_description }}</p>
                
                <div class="mt-auto flex justify-between items-center">
                    <span class="text-gray-800 font-bold card-price">₹ {{ product.price }}</span>
                    <a href="{{ url_for('cart.add_to_cart', id=product.id) }}" class="py-1 px-3 bg-blue-500 text-white rounded hover:bg-blue-600">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
