<style>
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
<nav class="nav">
    <div class="left">
        <a href="{{url_for('public.index')}}">
            <img src="{{url_for('static', filename='logo.png')}}" alt="Logo" />
        </a>
    </div>


    <div class="right">
        {% if current_user.is_authenticated %}
        <strong>Welcome {{current_user.fname}}</strong>
        <a href="{{url_for('public.index')}}">Home</a>
        <a href="{{url_for('product_bp.view_all_products')}}">Products</a>
        {% endif %}

        {% if current_user.is_authenticated %}
        <a href="{{url_for('cart.view_cart')}}">Cart</a>
		<div class="dropdown">
    <button class="dropbtn">Orders 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
        <a href="{{url_for('order_bp.view_orders', status='confirmed')}}">Confirmed</a>
        <a href="{{url_for('order_bp.view_orders', status='intransit')}}">In transit</a>
        <a href="{{url_for('order_bp.view_orders', status='delivered')}}">Delivered</a>
        <a href="{{url_for('order_bp.view_orders', status='cancelled')}}">Cancelled</a>
    </div>
  </div>
        <a href="{{url_for('user.view_profile')}}">Profile</a>
        <a href="{{url_for('auth.logout')}}">Logout</a>
        {% else %}
        <a href="{{url_for('auth.login')}}">Login</a>
        <a href="{{url_for('auth.signup')}}">Signup</a>
        {% endif %}
    </div>
</nav>
