{% extends "base.html" %}
{% block title %}Orders{% endblock %}

{% block content %}


<script src="https://cdn.tailwindcss.com"></script>
 <!-- Main Content -->
 <div class="container mx-auto py-8 px-4">

    <!-- Orders Table -->
	<h2 class="order-heading text-2xl font-semibold mb-4">Your {{status}} Orders</h2>
    <table id="confirmed-orders"
        class="w-full border-collapse border border-gray-200 mt-8">
        <thead>
            <tr class="bg-gray-50">
                <th class="border border-gray-200 px-4 py-2">Order Id</th>
                <th class="border border-gray-200 px-4 py-2">Ordered Item</th>
                <th class="border border-gray-200 px-4 py-2">Ordered Date</th>
                <th class="border border-gray-200 px-4 py-2">Cancelled Date</th>
                <th class="border border-gray-200 px-4 py-2">Amount</th>
                <th class="border border-gray-200 px-4 py-2">Address</th>
            </tr>
        </thead>
        <tbody>
            <!-- Confirmed Orders data here -->
            {% for i in orders%}
			{% set order = i[0] %}
			{% set items = i[1] %}
			{% set order_total = i[2] %}



            <tr>
                <td class="border border-gray-200 px-4 py-2 text-center">{{order.id}}</td>
				<td class="border border-gray-200 px-4 py-2 text-center">
					{% for item in items %}
					<ol>
						<li>{{item}}</li>
					</ol>
					{% endfor %}
				</td>
                <td class="border border-gray-200 px-4 py-2 text-center">{{order.ordered_date.strftime('%Y-%m-%d')}}</td>
                <td class="border border-gray-200 px-4 py-2 text-center">{{order.date_according_to_status.strftime('%Y-%m-%d')}}</td>
				<td class="border border-gray-200 px-4 py-2 text-center">{{order_total}}</td>
				<td class="border border-gray-200 px-4 py-2 text-center">{{order.address}}</td>

                </tr>
            {% endfor %}
        </tbody>
    </table>


        

    </div>



{% endblock %}
