{% from "payment/_formhelper.html" import render_field %}
{% extends "base.html" %}

{% block content %}
{% block title %}Payment{% endblock %}

 <!-- Main Content -->
 <div class="container mx-auto py-8 px-4">

    <!-- Payment Section -->
    <div class="payment-section max-w-lg mx-auto bg-white rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-semibold mb-6">Make Payment</h2>


        <!-- Credit Card Payment Form -->
        <div id="creditCardForm" class="mb-6">
            <h3 class="text-xl font-semibold mb-2">Card Details</h3>
            <form class="flex flex-col space-y-4" method="POST">

			{% set label_class = "" %}
			{% set input_class = "border rounded-md p-2" %}

			{{ form.csrf_token }}
			{{ render_field(form.card_no, input_class=input_class, label_class=label_class ) }}
			{{ render_field(form.name, input_class=input_class, label_class=label_class ) }}
			{{ render_field(form.expiry_date, input_class=input_class, label_class=label_class ) }}
			{{ render_field(form.cvv, input_class=input_class, label_class=label_class ) }}

			<button type="stbmit">
				<button class="px-6 py-2 bg-blue-500 text-white font-semibold rounded">Pay ₹{{cart_total}}</button>
			</button>
            </form>
        </div>
        <a href="{{url_for('cart.view_cart')}}" class="block text-center text-blue-500 mt-5">Back to My Cart</a>
    </div>
</div>



{% endblock %}
